# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
.env
*.sqlite3

# Docker
docker-compose.override.yml
*.log
*.pid
*.sock
**/logs/
**/tmp/

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# pipenv
Pipfile
Pipfile.lock

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/
.pytest_cache/

# Prometheus data (if storing locally)
prometheus_data/
